#.gitignore
# Ignore Firebase credentials
forever-zama-firebase-adminsdk-fbsvc-7aafa0b583

# Ignore Python cache and environment files
__pycache__/
*.pyc
.env
venv/
*.egg-info/
.vercel

# Ignore local development files
*.log
.DS_Store