<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQa96xLiqVS7eYt7p7pSm9G0gS4Tj7Qk81f5N+8/8/6l1p8w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="website-container">
        <header>
            <nav class="navbar">
                <a href="{{ url_for('home') }}" class="logo">
                    <img src="{{ url_for('static', filename='images/logo-transparent.png') }}" alt="Logo">
                </a>
                <div class="menu-toggle" onclick="toggleMenu()">
                    <i class="fas fa-bars"></i>
                </div>
                <ul class="nav-links">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Shop ▾</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('health_wellness') }}">Health & Wellness</a>
                            <a href="{{ url_for('skincare_personal_care') }}">Skincare & Personal Care</a>
                            <a href="{{ url_for('weight_management') }}">Weight Management</a>
                            <a href="{{ url_for('kids_family') }}">Kids & Family</a>
                        </div>
                    </li>
                    <li><a href="{{ url_for('combos') }}">Combos</a></li>
                    <li><a href="{{ url_for('join') }}">Join Our Team</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                    <li class="cart-icon">
                        <a href="{{ url_for('cart') }}">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="cart-badge">{{ session.cart|length }}</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="content-container">
            {% block content %}{% endblock %}
        </main>
        
        <div class="adsterra-banner-container">
            <script type="text/javascript">
            	atOptions = {
            		'key' : '7c067876e1b0da8429ac122b8c4d2259',
            		'format' : 'iframe',
            		'height' : 50,
            		'width' : 320,
            		'params' : {}
            	};
            </script>
            <script type="text/javascript" src="//www.highperformanceformat.com/7c067876e1b0da8429ac122b8c4d2259/invoke.js"></script>
        </div>

        <footer class="footer">
            <div class="footer-content">
                <div class="footer-section contact-info">
                    <h4>Contact Us</h4>
                    <p><i class="fas fa-envelope"></i> forever.zama@gmail.com</p>
                    <p><i class="fas fa-phone"></i> +27 71 850 6358</p>
                </div>
                <div class="footer-section social-media">
                    <h4>Follow Us</h4>
                    <a href="https://www.facebook.com/mduduzi.nyama.35" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/zama_fom_forever/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-bottom">
                &copy; 2025 Forever Zama. All Rights Reserved.
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>