{% extends "base.html" %}
{% block title %}Your Cart - Forever Zama{% endblock %}
{% block meta_description %}View and manage your cart at Forever Zama{% endblock %}
{% block meta_keywords %}Forever Zama, cart, shopping, checkout{% endblock %}
{% block content %}

    <a href="{{ url_for('menus') }}">Back⬅️</a>
    Your Cart 🛒🌟

    
        {% if cart_items %}
            
                {% for item in cart_items %}
                    
                        {{ item.name }} - {% if 'quantity' in item %}R{{ item.amount|floatformat(2) }} x {{ item.quantity }} = R{{ item.total|floatformat(2) }} 💸{% else %}R{{ item.amount|floatformat(2) }} 💰{% endif %}

                        
                            
                            <form action="{{ url_for('remove_from_cart') }}" method="post">
                                <input type="hidden" name="name" value="{{ item.name }}">
                                <button type="submit">Remove 🗑️</button>
                            </form>
                        

                    

                {% endfor %}
                Total: R{{ total|floatformat(2) }} 💰🎊

            

            
                <a href="{{ url_for('checkout') }}" class="button">Checkout ✅</a>
                
                    <a href="{{ url_for('clear_cart') }}" class="button">Clear Cart 🗑️</a>
                

                <a href="{{ url_for('menus') }}" class="button">Add Items ➕</a>
            

        {% else %}
            Cart is empty 😞🌸

            
                <a href="{{ url_for('menus') }}" class="button">Add Items ➕</a>
            

        {% endif %}
        <a href="{{ url_for('menus') }}">Back ⬅️</a>
    




{% endblock %}